<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Teal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ baseurl }}/static/teal.css">
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Teal
        </h1>
        <h2 class="subtitle">
          Trace Analysis Viewer
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
      <div class="container">
	  <p class="control">
	      <label for="experiment">Experiment Chromatogram (abi, .ab1, .ab! or .ab)</label>
	      <br>
	      <label class="btn btn-default btn-file">
		  <input type="file" name="experiment" id="experiment" />
	      </label>
	  </p>
	  <p class="control">
	      <button id="submit-button" class="button is-primary">Submit</button>
              <button id="sample-button" class="button is-secondary">Load Sample Data</button>
              <button id="help-button" class="button is-secondary">Help</button><br />
	  </p>
      </div>
  </section>
  <section class="section section--results">
      <div class="container">
	  <h2 id="resHeading">Help</h2>
	  <hr>
          <div id="resButtons" style="display:none;">
           <button id="teal-nav-bw-win" class="button is-secondary">prev</button>
           <button id="teal-nav-bw-bit" class="button is-secondary">&lt;</button>
           <button id="teal-nav-zy-in" class="button is-secondary">Bigger Peaks</button>
           <button id="teal-nav-zy-out" class="button is-secondary">Smaller Peaks</button>
           <button id="teal-nav-zx-in" class="button is-secondary">Zoom in</button>
           <button id="teal-nav-zx-out" class="button is-secondary">Zoom Out</button>
           <button id="teal-nav-fw-bit" class="button is-secondary">&gt;</button>
           <button id="teal-nav-fw-win" class="button is-secondary">next</button>
           <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
           <button id="teal-nav-hi-a" class="button is-secondary"><strong>A</strong></button>
           <button id="teal-nav-hi-c" class="button is-secondary"><strong>C</strong></button>
           <button id="teal-nav-hi-g" class="button is-secondary"><strong>G</strong></button>
           <button id="teal-nav-hi-t" class="button is-secondary"><strong>T</strong></button>
           <button id="teal-nav-hi-n" class="button is-secondary">ACGT</button>
          </div>
          <div id="results" style="display:none;"></div>
          <div id="textResults" style="display:none;">
            <hr>
            <p>Chromatogram Sequence:</p> 
            <textarea class="form-control" id="teal-fastaText" name="teal-fastaText" rows="7" cols="110"></textarea><br />
            <br />
          </div>
          <div id="helpSection">
            <p>Teal is a tool to view sanger trace files. It supports *.abi, *.ab,
               *.ab1 and *.ab files. Just select a file and hit submit or load sample
               data.</p>
             <img src="static/teal_explain.jpg" alt="Screenshot with comments">
            <br />
          </div>
      </div>
  </section>

  <footer>
    <a href="/terms" target="_blank">Terms of Use</a>
    &middot;
    <a href="/contact" target="_blank">Contact Us</a>
    &middot;
    <a href="https://github.com/gear-genomics" target="_blank">
    <i class="fa fa-github" aria-hidden="true"></i> Source Code
    </a>
    <img src="https://gear.embl.de/_nuxt/img/EMBL_logo.b1a1c94.svg" alt="EMBL logo">
    <div style="float: right; margin-right: 10px;">Hosted with <span class="embl-red">♥</span> by</div>
  </footer>

  <script src="{{ baseurl }}/static/teal.js"></script>
</body>

</html>
