<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Teal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ baseurl }}/static/teal.css">
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Teal
        </h1>
        <h2 class="subtitle">
          Trace Analysis Viewer
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
      <div class="container">
	  <p class="control">
	      <label for="experiment">Experiment Chromatogram (abi, .ab1, .ab! or .ab)</label>
	      <br>
	      <label class="btn btn-default btn-file">
		  <input type="file" name="experiment" id="experiment" />
	      </label>
	  </p>
	  <p class="control">
	      <button id="submit-button" class="button is-primary">Submit</button><br />
	  </p>
      </div>
  </section>
  <section class="section section--results">
      <div class="container">
	  <h2>Results</h2>
	  <hr>
          <div id="resButtons" style="display:none;">
           <button id="teal-nav-bw-win" class="button is-secondary">prev</button>
           <button id="teal-nav-bw-bit" class="button is-secondary">&lt;</button>
           <button id="teal-nav-zy-in" class="button is-secondary">Bigger Peaks</button>
           <button id="teal-nav-zy-out" class="button is-secondary">Smaller Peaks</button>
           <button id="teal-nav-zx-in" class="button is-secondary">Zoom in</button>
           <button id="teal-nav-zx-out" class="button is-secondary">Zoom Out</button>
           <button id="teal-nav-fw-bit" class="button is-secondary">&gt;</button>
           <button id="teal-nav-fw-win" class="button is-secondary">next</button>
           <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
           <button id="teal-nav-hi-a" class="button is-secondary"><strong>A</strong></button>
           <button id="teal-nav-hi-c" class="button is-secondary"><strong>C</strong></button>
           <button id="teal-nav-hi-g" class="button is-secondary"><strong>G</strong></button>
           <button id="teal-nav-hi-t" class="button is-secondary"><strong>T</strong></button>
           <button id="teal-nav-hi-n" class="button is-secondary">ACGT</button>
          </div>
          <div id="results"></div>
      </div>
  </section>

  <script src="{{ baseurl }}/static/teal.js"></script>
</body>

</html>
